scepter.egg-info/dependency_links.txt
scepter.egg-info/PKG-INFO
scepter.egg-info/requires.txt
scepter.egg-info/SOURCES.txt
scepter.egg-info/top_level.txt
notebooks/starlink_100.npz
notebooks/oneweb_1ms.npz
